# === Build artifacts ===
/build/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# === Gradle ===
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# === IntelliJ IDEA ===
*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/artifacts
.idea/**/compiler.xml
.idea/**/jarRepositories.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/modules
.idea/**/sonarlint
.idea/**/httpRequests

# === Kotlin / Java ===
*.log
*.txt
*.iml
*.ipr
*.iws
*.out
*.ctxt

# === OS specifics ===
.DS_Store
Thumbs.db
